:root {
  --primary-color: #ffffff;
  --header-color: rgba(255, 255, 255, 0.5);
  --secondary-color: #000000;
  --faded-color: #3F3846;
  --border-color: rgba(0, 0, 0, 0.1);
  --button-color: #860CFB;
  --footer-color: #565656;
  --sidebar-color: rgba(0, 0, 0, 0.25);
  --code-color: rgba(134, 12, 251, 0.25);
  --tags-color: #860CFB;
  --shadow-slide: rgba(0, 0, 0, 0.04);
  --tags-bg: #ffffff;
  --mask-popup: rgba(20, 18, 22, 0.6);
  --emulate-color: #000000;
  --popup-color: #FAFAFA;
  --tools-color: #F1F1F1;
  --danger-color: #E82626;
  --review-color: #FFFFFF;
}

[data-theme="dark"] {
  --primary-color: #141216;
  --header-color: rgba(20, 18, 22, 0.5);
  --secondary-color: #ffffff;
  --faded-color: #3F3846;
  --border-color: rgba(255, 255, 255,0.1);
  --button-color: #860CFB;
  --footer-color: #929292;
  --sidebar-color: rgba(255, 255, 255,0.25);
  --code-color: rgba(255, 168, 0, 0.3);
  --tags-color: #A25EE2;
  --shadow-slide: rgba(255, 255, 255, 0.04);
  --tags-bg: #000000;
  --mask-popup: rgba(71, 67, 74, 0.6);
  --emulate-color: #3F3846;
  --popup-color: #0F0F0F;
  --tools-color: #1C1C1C;
  --danger-color: #FF5959;
  --review-color: #3F3846;
}

@import 'fonts.scss';
@import 'swiper/css';
@import 'swiper/css/effect-fade';
@import 'swiper/css/effect-creative';
@import 'swiper/css/scrollbar';
@import 'swiper/css/parallax';
@import 'swiper/css/free-mode';
@import 'swiper/css/scrollbar';
@import 'animation';

$fontMono: 'SF Mono', sans-serif;

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: vw_big_screen(14px);
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--primary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--secondary-color);
  overflow: hidden;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer і Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari і Opera */
}

.flex {
  display: flex;
}

.d-none {
  display: none !important;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.items-end {
	align-items: flex-end;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.full-height {
  height: 100%;
}

.rounded {
  border-radius: vw_big_screen(8px);
}

.mono-font {
  font-family: 'SF Mono', sans-serif;
}

.hover-effect {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    opacity: 0;
    transition: 0.3s ease;
    position: absolute;
    inset: 0;
    margin: auto;
    background: rgba(255,255,255,0.2);
  }
  &:hover {
    @include viewport(hover) {
      &::after {
        opacity: 1;
      }
    }
  }
}

.content-main {
  & h1 {
    font-size: vw_big_screen(60px);
    line-height: vw_big_screen(72px);
    font-weight: 900;
    margin: vw_big_screen(4px) 0 vw_big_screen(17px);
    & span {
      background-color: var(--button-color);
      transition: 0.3s ease;
      padding: 0 vw_big_screen(14px);
      color: #fff;
    }
  }
  & h2 {
    margin: 0 0 vw_big_screen(12px);
    color: var(--footer-color);
    font-size: vw_big_screen(24px);
    font-weight: 700;
    line-height: vw_big_screen(28px);
    & span {
      color: var(--secondary-color);
    }
  }
}

.scrollable-container {
  padding-right: vw_big_screen(10px);
  & * {
    pointer-events: none;
  }
}

.swiper-vertical > .swiper-scrollbar.custom-scrollbar, .swiper-scrollbar.custom-scrollbar.swiper-scrollbar-vertical {
  height: vw_big_screen(150px);
  bottom: vw_big_screen(70px);
  right: vw_big_screen(184px);
  top: unset;
  background-color: var(--border-color);
  &:hover .swiper-scrollbar-drag {
    width: vw_big_screen(5px);
    left: -1px;
    background: var(--secondary-color);
  }
}

.swiper-scrollbar-drag {
  cursor: pointer;
  transition: 0.2s ease;
  background: var(--sidebar-color);
}

.content {
  color: var(--secondary-color);
  & p {
    font-size: vw_big_screen(14px);
    line-height: vw_big_screen(24px);
  }
  & div p {
    margin: 0;
    &:not(:first-child) {
      margin: vw_big_screen(14px) 0 0;
    }
  }
}

.p-screen {
  padding: vw_big_screen(104px) 0 vw_big_screen(24px);
}

.container {
  width: vw_big_screen(1076px);
  @include viewport(tabs) {
    width: vw_tabs(728px);
  }
  @include viewport(mobile) {
    width: vmin_mobile(335px);
  }
}

.buttons-list {
  transform: scale(1,0);
  transform-origin: center bottom;
  transition: transform 0.2s cubic-bezier(0.22, -0.01, 0.01, 1.02);
  & button {
    transform-origin: center bottom;
    transform: translateY(50%) scale(1,1);
    opacity: 0;
    &:nth-child(1) {
      transition: transform 0.4s cubic-bezier(0.22, -0.01, 0.01, 1.02) 0.15s, opacity 0.4s cubic-bezier(0.22, -0.01, 0.01, 1.02) 0.15s;
    }
    &:nth-child(2) {
      transition: transform 0.4s cubic-bezier(0.22, -0.01, 0.01, 1.02) 0.2s, opacity 0.4s cubic-bezier(0.22, -0.01, 0.01, 1.02) 0.2s;
    }
    &:nth-child(3) {
      transition: transform 0.4s cubic-bezier(0.22, -0.01, 0.01, 1.02) 0.25s, opacity 0.4s cubic-bezier(0.22, -0.01, 0.01, 1.02) 0.25s;
    }
  }
}

.swiper-creative {
  & .swiper-slide {
    &:hover {
      & .buttons-list {
        transform: scale(1,1);
        & button {
          transform: translateY(0) scale(1,1);
          opacity: 1;
        }
      }
    }
    & .tags-wrap {
      transform: scale(0,1);
      transition: transform 0s;
    }
    & .body-inner {
      box-shadow: 0 0 0 0 var(--shadow-slide);
      transition: box-shadow 0s;
    }
    &-active {
      & .tags-wrap {
        transform: scale(1,1);
        transition: transform 0.4s cubic-bezier(0.22, -0.01, 0.01, 1.02) 0.2s;
      }
      & .body-inner {
        box-shadow: vw_big_screen(8px) vw_big_screen(14px) vw_big_screen(4px) 0 var(--shadow-slide);
        transition: box-shadow 0.4s cubic-bezier(0.22, -0.01, 0.01, 1.02) 0.2s;
      }
    }
  }
}

.swiper-pagination-bullet {
  cursor: pointer;
  transition: 0.2s ease-in;
  font-size: vw_big_screen(16px);
  position: relative;
  transition: transform 0.2s ease;
  display: inline-block;
  &::after {
    content: '';
    position: absolute;
    bottom: vw_big_screen(-4.5px);
    left: 50%;
    transform: translateX(-50%);
    width: vw_big_screen(4px);
    height: vw_big_screen(4px);
    background-color: var(--button-color);
    opacity: 0;
  }
  &:active {
    transform: scale(0.8);
  }
  &:hover {
    @include viewport(hover) {
      color: var(--secondary-color);
    }
  }
  &:not(:last-child) {
    margin-right: vw_big_screen(16px);
  }
  &.swiper-pagination-bullet-active {
    color: var(--secondary-color);
    &::after {
      opacity: 1;
    }
  }
}

.popup {
  &-main {
    & .svg-icon {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;
      & svg {
        & path {
          fill: var(--emulate-color);
        }
      }
    }
    &.emulate-desktop {
      & .svg-icon {
        top: vw_big_screen(16px);
        width: vw_big_screen(580px);
      }
    }
    &.emulate-tablet {
      & .svg-icon {
        top: vw_big_screen(16px);
        width: vw_big_screen(360px);
      }
    }
    &.emulate-mobile {
      & .svg-icon {
        top: vw_big_screen(16px);
        width: vw_big_screen(290px);
      }
    }
  }
  &-aside {
    &-buttons {
      & button {
        transition: 0.2s ease-in;
        & svg path {
          transition: 0.2s ease-in;
        }
        &.icon-desktop svg {
          width: vw_big_screen(24px);
        }
        &.icon-tablet svg {
          width: vw_big_screen(18px);
        }
        &.icon-mobile svg {
          width: vw_big_screen(13.4px);
        }
        &:hover, &.active {
          background-color: var(--button-color) !important;
          & svg path {
            fill: #fff !important;
          }
        }
        &.active {
          pointer-events: none;
        }
      }
    }
    &-content {
      & p {
        font-size: vw_big_screen(14px);
        margin: vw_big_screen(12px) 0;
        text-indent: 0.8em;
      }
    }
  }
}

.review {
  &-content {
    user-select: none;
    & p {
      font-size: vw_big_screen(14px);
      font-weight: 400;
      margin: vw_big_screen(4px) 0;
    }
  }
  &-bullet {
    width: vw_big_screen(10px);
    height: vw_big_screen(10px);
    background-color: var(--button-color);
    border-radius: vw_big_screen(2px);
    cursor: pointer;
    transition: 0.2s ease-in;
    &.active {
      background-color: var(--button-color);
      pointer-events: none;
      & ~ .review-bullet {
        background-color: var(--sidebar-color) !important;
      }

    }
    &:hover {
      @include viewport(hover) {
        background-color: var(--button-color);
        opacity: 0.8;
      }
    }
    &:active {
      transform: scale(0.8);
    }
    &:not(:last-child) {
      margin-right: vw_big_screen(12px);
    }
  }
}
