:root {
  --primary-color: #ffffff;
  --header-color: rgba(255, 255, 255, 0.5);
  --secondary-color: #000000;
  --faded-color: #3F3846;
  --border-color: rgba(0, 0, 0, 0.1);
  --button-color: #860CFB;
  --footer-color: #565656;
  --sidebar-color: rgba(0, 0, 0, 0.25);
  --code-color: rgba(134, 12, 251, 0.25);
}

[data-theme="dark"] {
  --primary-color: #141216;
  --header-color: rgba(20, 18, 22, 0.5);
  --secondary-color: #ffffff;
  --faded-color: #3F3846;
  --border-color: rgba(255, 255, 255,0.1);
  --button-color: #860CFB;
  --footer-color: #929292;
  --sidebar-color: rgba(255, 255, 255,0.25);
  --code-color: rgba(255, 168, 0, 0.3);
}

@import 'fonts.scss';
@import 'swiper/css';
@import 'swiper/css/effect-fade';
@import 'swiper/css/scrollbar';
@import 'swiper/css/parallax';

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: vw_big_screen(14px);
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--primary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--secondary-color);
  overflow: hidden;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer і Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari і Opera */
}

.flex {
  display: flex;
}

.d-none {
  display: none !important;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.items-end {
	align-items: flex-end;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.full-height {
  height: 100%;
}

.rounded {
  border-radius: vw_big_screen(8px);
}

.mono-font {
  font-family: 'SF Mono', sans-serif;
}

.hover-effect {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    opacity: 0;
    transition: 0.3s ease;
    position: absolute;
    inset: 0;
    margin: auto;
    background: rgba(255,255,255,0.2);
  }
  &:hover {
    @include viewport(hover) {
      &::after {
        opacity: 1;
      }
    }
  }
}

.content-main {
  & h1 {
    font-size: vw_big_screen(60px);
    line-height: vw_big_screen(72px);
    font-weight: 900;
    margin: vw_big_screen(4px) 0 vw_big_screen(17px);
    & span {
      background-color: var(--button-color);
      transition: 0.3s ease;
      padding: 0 vw_big_screen(14px);
      color: #fff;
    }
  }
  & h2 {
    margin: 0 0 vw_big_screen(12px);
    color: var(--footer-color);
    font-size: vw_big_screen(24px);
    font-weight: 700;
    line-height: vw_big_screen(28px);
    & span {
      color: var(--secondary-color);
    }
  }
}

.scrollable-container {
  max-height: vw_big_screen(320px);
  overflow: auto;
  & * {
    pointer-events: none;
  }
}

.content-about {
  color: var(--secondary-color);
  & p {
    font-size: vw_big_screen(14px);
    line-height: vw_big_screen(24px);
  }
  & div p {
    margin: 0;
    &:not(:first-child) {
      margin: vw_big_screen(14px) 0 0;
    }
  }
}

.p-screen {
  padding: vw_big_screen(104px) 0 vw_big_screen(24px);
}

.container {
  width: vw_big_screen(1076px);
  @include viewport(tabs) {
    width: vw_tabs(728px);
  }
  @include viewport(mobile) {
    width: vmin_mobile(335px);
  }
}

@keyframes bounce {
  0%,20%,40%,60%,80%,to {
    animation-timing-function: cubic-bezier(.215,.61,.355,1);
  }
  0% {
    transform:scaleX(1);
  }
  20% {
    transform:scale3d(1.1,.9,1);
  }
  40% {
    transform:scale3d(.95,1.02,1);
  }
  60% {
    transform: scale3d(1.05,.9,1);
  }
  80% {
    transform:scale3d(.98,1.01,1);
  }
  to {
    transform:scaleX(1);
  }
}

@keyframes pulse {
  0%,10%,40%,60%,100% {
    animation-timing-function: cubic-bezier(.215,.61,.355,1);
  }
  0%,100% {
    transform: translate(0%,10%);
  }
  10% {
    transform: translate(15%,10%);
  }
  40% {
    transform: translate(-5%,10%);
  }
  60% {
    transform: translate(10%,10%);
  }
}
