@import 'fonts.scss';
@import 'swiper/css';
@import 'swiper/css/effect-fade';
@import 'swiper/css/effect-creative';
@import 'swiper/css/scrollbar';
@import 'swiper/css/parallax';
@import 'swiper/css/free-mode';
@import 'swiper/css/scrollbar';
@import 'animation';

$fontMono: 'SF Mono', sans-serif;

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: vw_big_screen(14px);
  overflow: hidden;
  scroll-behavior: smooth;
  background-color: var(--primary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--secondary-color);
  @include viewport(sm_mobile) {
    overflow: unset;
    overflow-x: hidden;
  }
}

.hide {
  overflow: hidden !important;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer і Edge */
  // outline: 1px solid red;
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari і Opera */
}

.flex {
  display: flex;
}

.d-none {
  display: none !important;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.items-end {
	align-items: flex-end;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.full-height {
  height: 100%;
}

.rounded {
  border-radius: vw_big_screen(8px);
  @include viewport(tabs) {
    border-radius: vw_tabs(6px);
  }
  @include viewport(sm_mobile) {
    border-radius: vmin_mobile(8px);
  }
}

.mono-font {
  font-family: 'SF Mono', sans-serif;
}

.hover-effect {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    opacity: 0;
    transition: 0.3s ease;
    position: absolute;
    inset: 0;
    margin: auto;
    background: rgba(255,255,255,0.2);
  }
  &:hover {
    @include viewport(hover) {
      &::after {
        opacity: 1;
      }
    }
  }
}

.content-main {
  & h1 {
    font-size: vw_big_screen(60px);
    line-height: vw_big_screen(72px);
    font-weight: 900;
    margin: vw_big_screen(4px) 0 vw_big_screen(17px);
    @include viewport(tabs) {
      font-size: vw_tabs(60px);
      line-height: vw_tabs(72px);
      margin: vw_tabs(4px) 0 vw_tabs(17px);
    }
    @include viewport(swap_tabs) {
      font-size: vw_tabs(42px);
      line-height: vw_tabs(58px);
      margin: 0 0 vw_tabs(8px);
    }
    @include viewport(sm_mobile) {
      font-size: vmin_mobile(32px);
      line-height: vmin_mobile(40px);
      margin: vmin_mobile(4px) 0 vmin_mobile(12px);
    }
    & br {
      @include viewport(mobile) {
        display: none;
      }
    }
    & span {
      background-color: var(--button-color);
      transition: 0.3s ease;
      padding: 0 vw_big_screen(14px);
      color: #fff;
      @include viewport(tabs) {
        padding: 0 vw_tabs(14px);
      }
      @include viewport(sm_mobile) {
        padding: 0 vmin_mobile(14px);
        display: inline-flex;
      }
    }
  }
  & h2 {
    margin: 0 0 vw_big_screen(12px);
    color: var(--footer-color);
    font-size: vw_big_screen(24px);
    font-weight: 700;
    line-height: vw_big_screen(28px);
    @include viewport(tabs) {
      margin: 0 0 vw_tabs(12px);
      font-size: vw_tabs(24px);
      line-height: vw_tabs(28px);
    }
    @include viewport(swap_tabs) {
      margin: 0 0 vw_tabs(6px);
      font-size: vw_tabs(18px);
      line-height: vw_tabs(22px);
    }
    @include viewport(sm_mobile) {
      margin: 0 0 vmin_mobile(6px);
      font-size: vmin_mobile(18px);
      line-height: vmin_mobile(20px);
    }
    & span {
      color: var(--secondary-color);
    }
  }
}

.scrollable-container {
  padding-right: vw_big_screen(10px);
  @include viewport(tabs) {
    padding-right: vw_tabs(8px);
  }
  & * {
    pointer-events: none;
  }
}

.swiper-vertical > .swiper-scrollbar.custom-scrollbar, .swiper-scrollbar.custom-scrollbar.swiper-scrollbar-vertical {
  height: vw_big_screen(150px);
  bottom: vw_big_screen(70px);
  right: vw_big_screen(184px);
  top: unset;
  background-color: var(--border-color);
  @include viewport(tabs) {
    right: vw_tabs(36px);
    bottom: vw_tabs(80px);
    height: vw_tabs(200px);
  }
  &:hover .swiper-scrollbar-drag {
    width: vw_big_screen(5px);
    left: -1px;
    background: var(--secondary-color);
    @include viewport(tabs) {
      width: vw_tabs(5px);
    }
  }
}

.swiper-scrollbar-drag {
  cursor: pointer;
  transition: 0.2s ease;
  background: var(--sidebar-color);
}

.content-main {
  @include viewport(port_tabs) {
    margin-bottom: 20%;
  }
  @include viewport(swap_tabs) {
    margin-top: 10%;
    margin-left: vw_tabs(10px);
  }
  @include viewport(mobile) {
    margin-top: vmin_mobile(32px);
  }
  @include viewport(swap_mobile) {
    margin-top: 0;
  }
  @include viewport(sm_mobile) {
    margin-left: 0;
    margin-bottom: 0;
  }
  & .btn-main p {
    font-size: vw_big_screen(20px);
    @include viewport(tabs) {
      font-size: vw_tabs(20px);
    }
    @include viewport(swap_tabs) {
      font-size: vw_tabs(16px);
    }
    @include viewport(sm_mobile) {
      font-size: vmin_mobile(16px);
    }
  }
}

.mobile-overflow {
  @include viewport(sm_mobile) {
    overflow: hidden;
  }
}

.content {
  color: var(--secondary-color);
  & p {
    font-size: vw_big_screen(14px);
    line-height: vw_big_screen(24px);
    @include viewport(tabs) {
      font-size: vw_tabs(14px);
      line-height: vw_tabs(24px);
    }
    @include viewport(sm_mobile) {
      font-size: vmin_mobile(14px);
      line-height: vmin_mobile(24px);
    }
  }
  & div p {
    margin: 0;
    &:not(:first-child) {
      margin: vw_big_screen(14px) 0 0;
      @include viewport(tabs) {
        margin: vw_tabs(14px) 0 0;
      }
      @include viewport(sm_mobile) {
        margin-top: vmin_mobile(14px);
      }
    }
  }
}

.p-screen {
  padding: vw_big_screen(104px) 0 vw_big_screen(24px);
}

.container {
  width: vw_big_screen(1076px);
  @include viewport(tabs) {
    width: vw_tabs(696px);
  }
  @include viewport(sm_mobile) {
    width: 94%;
  }
}

main {
  @include viewport(sm_mobile) {
    padding: vmin_mobile(80px) 0;
  }
}

.wrapper-main {
  @include viewport(sm_mobile) {
    margin-top: vmin_mobile(88px);
  }
}

.buttons-list {
  transform: scale(1,0);
  transform-origin: center bottom;
  transition: transform 0.2s cubic-bezier(0.22, -0.01, 0.01, 1.02);
  & button {
    transform-origin: center bottom;
    transform: translateY(50%) scale(1,1);
    opacity: 0;
    &:nth-child(1) {
      transition: transform 0.4s cubic-bezier(0.22, -0.01, 0.01, 1.02) 0.15s, opacity 0.4s cubic-bezier(0.22, -0.01, 0.01, 1.02) 0.15s;
    }
    &:nth-child(2) {
      transition: transform 0.4s cubic-bezier(0.22, -0.01, 0.01, 1.02) 0.2s, opacity 0.4s cubic-bezier(0.22, -0.01, 0.01, 1.02) 0.2s;
    }
    &:nth-child(3) {
      transition: transform 0.4s cubic-bezier(0.22, -0.01, 0.01, 1.02) 0.25s, opacity 0.4s cubic-bezier(0.22, -0.01, 0.01, 1.02) 0.25s;
    }
  }
}

.swiper-creative {
  & .swiper-slide {
    &:hover {
      & .buttons-list {
        transform: scale(1,1);
        & button {
          transform: translateY(0) scale(1,1);
          opacity: 1;
        }
      }
    }
    & .tags-wrap {
      transform: scale(0,1);
      transition: transform 0s;
    }
    & .body-inner {
      box-shadow: 0 0 0 0 var(--shadow-slide);
      transition: box-shadow 0s;
    }
    &-active {
      & .tags-wrap {
        transform: scale(1,1);
        transition: transform 0.4s cubic-bezier(0.22, -0.01, 0.01, 1.02) 0.2s;
      }
      & .body-inner {
        box-shadow: vw_big_screen(8px) vw_big_screen(14px) vw_big_screen(4px) 0 var(--shadow-slide);
        transition: box-shadow 0.4s cubic-bezier(0.22, -0.01, 0.01, 1.02) 0.2s;
        @include viewport(tabs) {
          box-shadow: vw_tabs(8px) vw_tabs(14px) vw_tabs(4px) 0 var(--shadow-slide);
        }
        @include viewport(sm_mobile) {
          box-shadow: vmin_mobile(6px) vmin_mobile(10px) vmin_mobile(4px) 0 var(--shadow-slide);
        }
      }
    }
  }
}

.swiper-pagination-bullet {
  cursor: pointer;
  transition: 0.2s ease-in;
  font-size: vw_big_screen(16px);
  position: relative;
  transition: transform 0.2s ease;
  display: inline-block;
  @include viewport(tabs) {
    font-size: vw_tabs(16px);
  }
  @include viewport(sm_mobile) {
    font-size: vmin_mobile(16px);
  }
  &::after {
    content: '';
    position: absolute;
    bottom: vw_big_screen(-4.5px);
    left: 50%;
    transform: translateX(-50%);
    width: vw_big_screen(4px);
    height: vw_big_screen(4px);
    background-color: var(--button-color);
    opacity: 0;
    @include viewport(tabs) {
      bottom: vw_tabs(-4.5px);
      width: vw_tabs(4px);
      height: vw_tabs(4px);
    }
    @include viewport(sm_mobile) {
      bottom: vmin_mobile(-4.5px);
      width: vmin_mobile(4px);
      height: vmin_mobile(4px);
    }
  }
  &:active {
    transform: scale(0.8);
  }
  &:hover {
    @include viewport(hover) {
      color: var(--secondary-color);
    }
  }
  &:not(:last-child) {
    margin-right: vw_big_screen(16px);
    @include viewport(tabs) {
      margin-right: vw_tabs(16px);
    }
  }
  &.swiper-pagination-bullet-active {
    color: var(--secondary-color);
    &::after {
      opacity: 1;
    }
  }
}

.popup {
  &-main {
    & .svg-icon {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;
      & svg {
        & path {
          fill: var(--emulate-color);
        }
      }
    }
    &.emulate-desktop {
      & .svg-icon {
        top: vw_big_screen(16px);
        width: vw_big_screen(580px);
        @include viewport(tabs) {
          top: vw_tabs(6px);
          width: vw_tabs(580px);
        }
        @include viewport(swap_tabs) {
          top: vw_tabs(10px);
          width: vw_tabs(367px);
        }
        @include viewport(sm_mobile) {
          top: vmin_mobile(6px);
          width: vmin_mobile(300px);
        }
      }
    }
    &.emulate-tablet {
      & .svg-icon {
        top: vw_big_screen(16px);
        width: vw_big_screen(360px);
        @include viewport(tabs) {
          top: vw_tabs(6px);
          width: vw_tabs(360px);
        }
        @include viewport(swap_tabs) {
          top: vw_tabs(10px);
          width: vw_tabs(228px);
        }
        @include viewport(sm_mobile) {
          top: vmin_mobile(6px);
          width: vmin_mobile(200px);
        }
      }
    }
    &.emulate-mobile {
      & .svg-icon {
        top: vw_big_screen(16px);
        width: vw_big_screen(290px);
        @include viewport(tabs) {
          top: vw_tabs(6px);
          width: vw_tabs(290px);
        }
        @include viewport(swap_tabs) {
          top: vw_tabs(10px);
          width: vw_tabs(184px);
        }
        @include viewport(sm_mobile) {
          top: vmin_mobile(6px);
          width: vmin_mobile(164px);
        }
      }
    }
  }
  &-aside {
    &-buttons {
      & button {
        transition: 0.2s ease-in;
        & svg path {
          transition: 0.2s ease-in;
        }
        &.icon-desktop svg {
          width: vw_big_screen(24px);
          @include viewport(tabs) {
            width: vw_tabs(24px);
          }
          @include viewport(swap_tabs) {
            width: vw_tabs(15px);
          }
          @include viewport(sm_mobile) {
            width: vmin_mobile(24px);
          }
        }
        &.icon-tablet svg {
          width: vw_big_screen(18px);
          @include viewport(tabs) {
            width: vw_tabs(18px);
          }
          @include viewport(swap_tabs) {
            width: vw_tabs(12px);
          }
          @include viewport(sm_mobile) {
            width: vmin_mobile(18px);
          }
        }
        &.icon-mobile svg {
          width: vw_big_screen(13.4px);
          @include viewport(tabs) {
            width: vw_tabs(13.4px);
          }
          @include viewport(swap_tabs) {
            width: vw_tabs(9.4px);
          }
          @include viewport(sm_mobile) {
            width: vmin_mobile(13.4px);
          }
        }
        &:hover, &.active {
          background-color: var(--button-color) !important;
          & svg path {
            fill: #fff !important;
          }
        }
        &.active {
          pointer-events: none;
        }
      }
    }
    &-content {
      max-height: 80%;
      overflow: auto;
      padding-right: vw_big_screen(4px);
      margin-top: vw_big_screen(12px);
      font-size: vw_big_screen(14px);
      @include viewport(tabs) {
        max-height: vw_tabs(150px);
        font-size: vw_tabs(14px);
        padding-right: vw_tabs(4px);
        margin-top: vw_tabs(12px);
        order: 3;
      }
      @include viewport(swap_tabs) {
        max-height: 80%;
        font-size: vw_tabs(9px);
        padding-right: vw_tabs(3px);
        margin-top: vw_tabs(8px);
        order: unset;
      }
      @include viewport(sm_mobile) {
        font-size: vmin_mobile(14px);
        padding-right: vmin_mobile(4px);
        margin-top: vmin_mobile(12px);
      }
      @include viewport(mobile) {
        max-height: 20vh;
      }
      @include viewport(swap_mobile) {
        max-height: 45vh;
        max-height: calc(var(--vh, 1vh) * 45);
      }
      & p {
        margin: 0;
        &:not(:last-child) {
          margin: 0 0 vw_big_screen(12px);
          @include viewport(tabs) {
            margin-bottom: vw_tabs(12px);
          }
          @include viewport(swap_tabs) {
            margin-bottom: vw_tabs(8px);
          }
          @include viewport(sm_mobile) {
            margin-bottom: vmin_mobile(12px);
          }
        }
      }
      & ul {
        list-style: none;
        padding: 0;
        margin: 0 0 vw_big_screen(12px);
        padding-left: vw_big_screen(12px);
        @include viewport(tabs) {
          margin-bottom: vw_tabs(12px);
          padding-left: vw_tabs(12px);
        }
        @include viewport(swap_tabs) {
          margin-bottom: vw_tabs(8px);
          padding-left: vw_tabs(8px);
        }
        @include viewport(sm_mobile) {
          margin-bottom: vmin_mobile(12px);
          padding-left: vmin_mobile(12px);
        }
      }
    }
  }
}

.review {
  &-slider {
    & .review-inner {
      @include viewport(tabs) {
        opacity: 1 !important;
        // transform: unset !important;
      }
    }
  }
  &-content {
    user-select: none;
    & p {
      font-size: vw_big_screen(14px);
      font-weight: 400;
      margin: vw_big_screen(4px) 0;
      @include viewport(tabs) {
        font-size: vw_tabs(14px);
        margin: vw_tabs(4px) 0;
      }
      @include viewport(swap_tabs) {
        font-size: vw_tabs(10px);
        margin: vw_tabs(3px) 0;
      }
      @include viewport(sm_mobile) {
        font-size: vmin_mobile(12px);
        margin: vmin_mobile(4px) 0;
      }
    }
  }
  &-bullet {
    width: vw_big_screen(10px);
    height: vw_big_screen(10px);
    background-color: var(--button-color);
    border-radius: vw_big_screen(2px);
    cursor: pointer;
    transition: 0.2s ease-in;
    @include viewport(tabs) {
      width: vw_tabs(10px);
      height: vw_tabs(10px);
      border-radius: vw_tabs(2px);
    }
    @include viewport(swap_tabs) {
      width: vw_tabs(6px);
      height: vw_tabs(6px);
    }
    @include viewport(sm_mobile) {
      border-radius: vmin_mobile(2px);
      width: vmin_mobile(10px);
      height: vmin_mobile(10px);
    }
    &.active {
      background-color: var(--button-color);
      pointer-events: none;
      & ~ .review-bullet {
        background-color: var(--sidebar-color) !important;
      }

    }
    &:hover {
      @include viewport(hover) {
        background-color: var(--button-color);
        opacity: 0.8;
      }
    }
    &:active {
      transform: scale(0.8);
    }
    &:not(:last-child) {
      margin-right: vw_big_screen(12px);
      @include viewport(tabs) {
        margin-right: vw_tabs(12px);
      }
      @include viewport(swap_tabs) {
        margin-right: vw_tabs(8px);
      }
      @include viewport(sm_mobile) {
        margin-right: vmin_mobile(8px);
      }
    }
  }
}
