// viewports
$vp-big-screen: 1440;
$vp-apple-screen: 1500;
$vp-laptop: 1200;
$vp-lobby: 1440;
$vp-tabs: 1024;
$vp-small-tabs: 768;
$vp-mobile: 584;
$vp-small-mobile: 375;

// color
$light-primary-color: #ffffff;
$light-secondary-color: #000000;

$danger-color: #dc3545;
// Primary Color: $light-primary
// Secondary Color: $light-secondary
// Accent Color: $light-accent
// Background Color: $light-background
// Text Color: $light-text
// Link Color: $light-link
// Button Color: $light-button
// Темна тема:
// Primary Color: $dark-primary
// Secondary Color: $dark-secondary
// Accent Color: $dark-accent
// Background Color: $dark-background
// Text Color: $dark-text
// Link Color: $dark-link
// Button Color: $dark-button
// primary-color: Основний колір елементів.
// secondary-color: Додатковий колір для підкреслення.
// accent-color: Акцентний колір для важливих елементів.
// background-color: Колір фону веб-сторінки.
// text-color: Колір тексту для основного контенту.
// link-color: Колір посилань та гіпертексту.
// button-color: Колір кнопок та інших активних елементів.
// border-color: Колір межі для визначення меж елементів.
// error-color: Колір для позначення помилок.
// success-color: Колір для позначення успіху або позитивних подій.
// warning-color: Колір для попередження або неочікуваних ситуацій.
// info-color: Колір для інформаційного контенту.
// dark-color: Темний колір для темної теми.
// light-color: Світлий колір для світлої теми.
// subtle-color: Приглушений колір для нейтральних відтінків.
// hover-color: Колір при наведенні на елемент.
// active-color: Колір для активних елементів (натискання, активний стан).
// placeholder-color: Колір для плейсхолдерів в текстових полях.
// disabled-color: Колір для вимкнутих або недоступних елементів.
// focus-color: Колір для елементів, які мають фокус.
// header-color: Колір для елементів заголовка.
// footer-color: Колір для елементів нижнього колонтитула.
// overlay-color: Колір для затемнення або занурення (overlay).
// brand-color: Колір для визначення бренду або логотипу.
// menu-color: Колір для елементів меню.
// nav-color: Колір для навігаційних елементів.
// form-color: Колір для елементів форм.
// modal-color: Колір для вікон-модальних вікон.
// carousel-color: Колір для каруселей або слайдерів.
// divider-color: Колір для ліній-роздільників.
// accent1-color: Акцентний колір #1.
// accent2-color: Акцентний колір #2.
// accent3-color: Акцентний колір #3.
// light-bg-color: Світлий колір фону.
// dark-bg-color: Темний колір фону.
// overlay-bg-color: Колір затемнення фону (overlay).
// emphasis-color: Колір для підкреслення.
// contrast-color: Контрастний колір для виділення.
// transparent-color: Прозорий колір.
// faded-color: Похмурий, приглушений колір.
// vibrant-color: Яскравий, насичений колір.
// pastel-color: Пастельний колір.
// shaded-color: Тіньовий колір.
// gradient-start-color: Початковий колір для градієнта.
// gradient-end-color: Кінцевий колір для градієнта.
// hilight-color: Колір для підсвічування.
// lowlight-color: Темний колір для тіні.
// dull-color: Матовий, неджерельний колір.
// neon-color: Колір, нагадує неонові відтінки.
// frost-color: Колір, схожий на олівець або морозиво.
// sunset-color: Колір, асоційований із заходом сонця.
// dawn-color: Колір, асоційований із світанком.
// midnight-color: Темний, нічний колір.
// daylight-color: Колір, асоційований із денним світлом.
// twilight-color: Колір, асоційований із сутінками.
// fiery-color: Вогняний колір.
// icy-color: Льодовий колір.
// sunny-color: Сонячний колір.
// cloudy-color: Хмарний колір.
// ocean-color: Колір, асоційований із океаном.
// forest-color: Колір, асоційований із лісом.
// desert-color: Колір, асоційований із пустелею.
// lagoon-color: Колір, асоційований із лагуною.
// volcano-color: Колір, асоційований із вулканом.
// tropical-color: Тропічний колір.
// pastel1-color: Пастельний колір #1.
// pastel2-color: Пастельний колір #2.
// pastel3-color: Пастельний колір #3.
// pastel4-color: Пастельний колір #4.
// pastel5-color: Пастельний колір #5.
// pastel6-color: Пастельний колір #6.
// pastel7-color: Пастельний колір #7.
// deep-color: Глибокий, насичений колір.
// rich-color: Багатий, насичений колір.
// zen-color: Колір, асоційований із спокоєм і гармонією.